.nav-profile a:after, .nav-languages a:after {
    display: none;
}

.nav-profile > .dropdown-menu.show {
    min-width: 100px;
}

.nav-languages {
    min-width: 55px;
}

.nav-languages > .dropdown-menu.show {
    min-width: 40px;
}

.code-holder {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 75px;
}

.code-holder .code-holder__code {
    padding: 10px;
}

.code-holder .code-holder__copy {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #1a202c;
}

.side-bar {
    min-height: 200px;
    height: 100%;
    top: 20px;
}

.snippet-holder {
    min-height: 130px;
}

.snippet-holder > * {
    min-height: 130px;
}
